[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gspread = "*"
pydata-google-auth = "*"
requests = "*"
python-dotenv = "*"
pandas = "*"
pyprnt = "*"

[requires]
python_version = "3.7"
